<!-- Cover Page -->
<div class="cover" >
    <div class="cover-logo">
        {{ content.field_corporate_vision_logo }}
    </div>

    <div class="client-name">
        <h2> {{ content.field_client_name }} </h2>
    </div>

    <div class="client-logo">
        {{ content.field_client_logo }}
    </div>

    <div class="cover-title">
        <h4> {{ content.field_report_title }} </h4>
    </div>

    <div class="cover-title">
        <h4> {{ content.field_report_date }} </h4>
    </div>
</div>



