<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">

    {{ page.header }}

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto"> 
      <!-- Navbar Search -->
      <li class="nav-item">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel d-flex">
              <div class="image">
                <img src={{ user.picture }} class="img-circle elevation-2" alt={{ user.name }}>
              </div>
              <div class="info">
                <a href="#" class="d-block">{{ user.name }}</a>
              </div>
            </div>
      </li>
      {{ page.header_right }}
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{{ path('<front>') }}" class="brand-link">
      <img src="{{base_path~theme_path}}/img/iconwhitebg.png" alt="{{ site_name|t }}" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{ site_name }}</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {{ page.search }}
      </div>

      <!-- SidebarSearch Form -->
      <!-- Sidebar Menu -->
      {{ page.primary_menu }}
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              {% if title %} <h1>{{title}}</h1>{% endif %}
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                {{ page.breadcrumb }}
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          {# <div class="col-12" #}
          {% if page.content %}
              {{ page.content }}
          {% endif %} 
          {# </div> #}
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% if page.footer %}
    <footer class="main-footer">  
      {{ page.footer }}
    </footer>
  {% endif %}

</div>

